/* estilos.css */

/* Estilos generales */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Botones personalizados */
button {
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

/* Ajustes adicionales de la sección de servicios */
.section-titulo {
    margin-bottom: 2rem;
    color: #1a73e8; /* Color azul personalizado */
}

/* Ajustes de sombra y efecto de tarjetas */
.card {
    transition: box-shadow 0.3s, transform 0.3s;
}

.card:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}
